.header p {
    font-size: 20px;
    text-align: center;
    /* padding: 30px; */
    font-weight: 600;
}
.navbar {
    background-color: aqua;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 20px
}
.dropbtn,
.cancel-btn {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 380px;
    height: 100vh;
    background: #111;
    padding: 20px;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    transform: translateX(-100%);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}
.nbar {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.nbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nbar li {
    list-style: none;
}

.nbar li a:hover {
    color: chocolate;
    transform: scale(1.2);
    display: inline-block;
}
.bar {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.bar li {
    list-style: none;
}

.bar li a:hover {
    color: chocolate;
    transform: scale(1.2);
    display: inline-block;
}
.reach{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.form {
    padding: 10px;
    box-shadow: 0px 5px 30px 5px rgb(0.2, 0.2, 0.3);    
    border-radius: 15px;
    width: 400px;
    margin: auto;
}
.label {
    display: flex;
    padding-left: 37px;
}

.form h1 {
    text-align: center;
}

.form input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.submit {
    margin-left: 150px;
    cursor: pointer;
}

a {
    padding-left: 150px;
    text-decoration: none;
    color: red;
}
@media (max-width: 768px) {
    .form{
        width: 100%;
        margin-left: -10px;
    }
    .label{
        justify-content: center;
        margin-left: -35px;
    }
    .nbar{
        display: none;
    }
    .bar {
        flex-direction: column;
        gap: 25px;
        margin-top: 60px;
        
    }
    .dropbtn {
        display: block;
        margin: auto;
        background: none;
        border: none;
        cursor: pointer;
    }

    .cancel-btn {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        margin-left: auto;
        cursor: pointer;
    }
    .reach{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 90%;
    }
}